In [2]:
import geopandas as gpd

gdf = gpd.read_parquet("gs://demeter-labs/coffee/datasets/tile_classifier_dataset_v0_costa-rica.parquet")
gdf['tile_id'].isna().sum()

np.int64(1)

In [7]:
class_names = {
        "1": "Water",
        "2": "Trees",
        "3": "Flooded Vegetation",
        "4": "Crops",
        "5": "Built Area",
        "6": "Bare Ground",
        "7": "Snow/Ice",
        "8": "Clouds",
        9: "Rangeland"
      }


neg_lc['class'] = neg_lc['remapped'].map(class_names)
neg_lc

                         geometry  remapped      class
0       POINT (-84.8863 10.51658)         1        NaN
1       POINT (-83.48852 8.95351)         1        NaN
2      POINT (-84.75695 10.44651)         1        NaN
3      POINT (-83.32683 10.20396)         1        NaN
4        POINT (-83.05554 8.5295)         1        NaN
...                           ...       ...        ...
14695  POINT (-85.30492 10.21115)         9  Rangeland
14696  POINT (-85.56723 10.94777)         9  Rangeland
14697   POINT (-85.44505 9.97399)         9  Rangeland
14698  POINT (-84.39582 10.60641)         9  Rangeland
14699  POINT (-85.33007 10.23091)         9  Rangeland

[14700 rows x 3 columns]